.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.Main {
  min-height: 100vh;
  min-width: 100vw;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Search {
  font-size: 2em;
  padding: 0.5em;
}

.ResultsList {
  list-style-type: none;
  text-align: left;
}

.ResultsListItem {
  text-align: left;
}