.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.Main {
  min-height: 100vh;
  min-width: 100vw;
  padding: 1em;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.SearchForm {
}

.SearchInput {
  width:100%;
  font-size: 2em;
  /* text-align: left; */
  padding: 0.5em;
  margin:1em auto;
}
.SearchResults {
  width: 500px;
  /* text-align: left; */
  margin:1em auto;
}
.ResultsList {
  list-style-type: none;
  text-align: left;
}

.ResultsListItem {
  text-align: left;
}

.ArtistOrder {}
.ArtistName {}
.ArtistNameLink {
  font-size:1.5em;
  appearance: none;
  color: inherit;
  background: none;
  border: none;
  text-decoration: underline;
}

.Expander {
  width: 100%;
  overflow: hidden;
}

.ExpanderLabel {
  width: 100%;
  height: 2.5em;
  text-align: left;
  font-size: 1.5em;
  font-weight: 500;
  padding: 0.5em 1rem;
  position: relative;
  appearance: none;
  color: inherit;
  background: none;
  border: none;
  border-bottom:solid grey 1px;

}
.ExpanderIcon {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2em;
}

.ExpanderContent {
  width: 100%;
  height: auto;
  text-align: left;
  font-size: 1em;
  font-weight: 400;
  padding: 1em 1rem;
  margin: 0 0 1em 0;
}


.Pagination {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 1em 1rem;
  margin: 1em 0;
  border-top:solid grey 1px;
}

.Pagination > * {
  flex: 1 0 4rem;
}